<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Page Title</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel='stylesheet' type='text/css' media='screen' href='main.css'>
    <script src='main.js'></script>
</head>
<body>

    <form action="#" th:action="@{/adduser}" th:object="${user}" method="post">

        <label for="name">Name</label>
        <input type="text" th:field="*{name}" id="name" placeholder="Name"> 

        <label for="email">Email</label>
        <input type="text" th:field="*{email}" id="email" placeholder="Email"> 

        <label for="mobile number">Mobile number</label>
        <input type="text" th:field="*{number}" id="number" placeholder="mobile number"> 

        <input type="submit" value="Add User">   
    </form>
    
</body>
</html>